.about-container {
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 10px;
  }
  
  .about-title {
    text-align: center;
    font-style: italic;
    color: crimson;
  }
  
  .about-description {
    font-size: 18px;
    color: blue;
  }
  
  .feature-list {
    margin-top: 20px;
    color: darkblue;
   list-style: none;
  }
  