table{
    background-color: #63e0e0;
    border: 2px solid black;
    margin-left: 434px;
    height: 335px;
    width: 415px;
    margin-top: 66px;
}
h1{
    margin-top: 46px 
}
input{
    margin-left: 40px 
}
button{
        margin-top: 12px;
        margin-left: 10px;
        padding-left: 115px;
        padding-right: 113px;
        border-radius: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: medium;
        color: currentColor;
}
.abc{
    background-color: bisque;
}

